body {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.142;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    background: var(--main-color);
 }
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.section {
    padding: 94px 0 94px 0;
}
label,
input,
form {
   margin: 0;
   padding: 0;
}
img {
   display: block;
   max-width: 100%;
}
a.active {
    color: var(--special-color)
}